.primary-pink-button-container {
  display: flex;
  position: relative;
}
.primary-pink-button-button {
  color: var(--dl-color-gray-white);
  outline: none;
  background: linear-gradient(270deg, rgb(192, 36, 37) 0.00%,rgb(36, 63, 192) 1.00%,rgb(240, 153, 53) 100.00%);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
  background-color: var(--dl-color-secondary-100);
}
.primary-pink-button-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.header-header {
  top: 0px;
  left: auto;
  right: auto;
  width: 100%;
  bottom: auto;
  display: flex;
  z-index: 3;
  position: fixed;
  max-width: 1320px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.header-nav {
  flex: 0 0 auto;
  color: var(--dl-color-secondary-600);
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 .25rem .375rem -.0625rem hsla(0,0%,8%,.12),0 .125rem .25rem -.0625rem hsla(0,0%,8%,.07)!important;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: var(--dl-radius-radius-radius40);
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: space-between;
  background-color: hsla(0,0%,100%,.8)!important;
}
.header-container {
  color: var(--dl-color-gray-black);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-image {
  flex: 0 0 auto;
  width: auto;
  height: 40px;
  align-self: stretch;
  object-fit: cover;
}
.header-menu {
  flex: 0 0 auto;
  width: 501px;
  height: 25px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.header-navlink {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink:hover {
  color: var(--dl-color-gray-500);
}
.header-navlink1 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink1:hover {
  color: var(--dl-color-gray-500);
}
.header-navlink2 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink2:hover {
  color: var(--dl-color-gray-500);
}
.header-navlink3 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink3:hover {
  color: var(--dl-color-gray-500);
}
.header-navlink4 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink4:hover {
  color: var(--dl-color-gray-500);
}
.header-navlink5 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink5:hover {
  color: var(--dl-color-gray-500);
}
.header-link {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-link:hover {
  color: var(--dl-color-gray-500);
}
.header-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-link1 {
  display: contents;
}
.header-component {
  text-decoration: none;
}
.header-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-icon {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
}
.header-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-unitandahalfunit);
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.header-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-navlink6 {
  color: var(--dl-color-secondary-700);
  font-weight: 600;
  text-decoration: none;
}
.header-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-icon2 {
  width: 24px;
  height: 24px;
}
.header-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.header-menu1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.header-navlink7 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink7:hover {
  color: var(--dl-color-gray-500);
}
.header-text {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-text:hover {
  color: var(--dl-color-gray-500);
}
.header-navlink8 {
  transition: 0.3s;
  text-decoration: none;
}
.header-navlink8:hover {
  color: var(--dl-color-gray-500);
}
.header-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  flex-direction: column;
}
.header-root-class-name {
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  max-width: auto;
  align-self: center;
}
.header-root-class-name1 {
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  max-width: auto;
}
.header-root-class-name2 {
  top: 0px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 100%;
  margin: auto;
  position: absolute;
  max-width: auto;
  align-self: center;
}
.header-root-class-name3 {
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  max-width: auto;
  align-self: flex-start;
}
.header-root-class-name4 {
  top: 0px;
  left: 0px;
  max-width: auto;
  align-self: center;
}
.header-root-class-name5 {
  top: 0px;
  left: 0px;
  max-width: auto;
  align-self: center;
}
.header-root-class-name6 {
  top: 0px;
  left: 0px;
  max-width: auto;
  align-self: center;
}
.header-root-class-name7 {
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  max-width: auto;
}
.header-root-class-name8 {
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  max-width: auto;
}
@media(max-width: 1600px) {
  .header-image {
    width: auto;
  }
}
@media(max-width: 1200px) {
  .header-nav {
    height: auto;
  }
  .header-image {
    width: auto;
    height: 30px;
    align-self: center;
    margin-right: 7px;
  }
  .header-root-class-name6 {
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
  }
}
@media(max-width: 991px) {
  .header-nav {
    max-width: 960px;
  }
  .header-menu {
    display: none;
  }
}
@media(max-width: 767px) {
  .header-burger-menu {
    display: flex;
  }
}
@media(max-width: 479px) {
  .header-container2 {
    display: none;
  }
}

.footer-footer {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(310deg,#141727,#3a416f);
}
.footer-image {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  height: 201px;
  opacity: 0.7;
  position: absolute;
  object-fit: cover;
}
.footer-container {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 249px;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  max-width: 1320px;
  padding-bottom: 3rem;
  justify-content: space-between;
}
.footer-container1 {
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-text {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text01 {
  align-self: center;
}
.footer-link {
  width: 30%;
  font-size: 1.25rem;
  align-self: flex-end;
  margin-top: var(--dl-space-space-unitandahalfunit);
  text-align: center;
  border-color: var(--dl-color-primary-1);
  border-radius: var(--dl-radius-radius-radius40);
  text-decoration: none;
}
.footer-text07 {
  color: var(--dl-color-primary-1);
}
.footer-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text10 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-image1 {
  top: var(--dl-space-space-tripleunit);
  left: 0px;
  right: 0px;
  width: 150px;
  height: auto;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 1200px) {
  .footer-image1 {
    height: 78px;
    margin-right: auto;
  }
}
@media(max-width: 991px) {
  .footer-container {
    padding: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 767px) {
  .footer-container {
    flex-direction: column;
  }
  .footer-container1 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .footer-container2 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
}

.incubation-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.incubation-container1 {
  width: 100%;
  height: 656px;
  display: flex;
  align-self: center;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/676ef1b1-18af-4108-be1c-24636c72335f-1500w.jpeg");
}
.incubation-card {
  width: 75%;
  height: 381px;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  align-self: center;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  padding-bottom: 3rem;
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.8);
}
.incubation-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.incubation-text {
  color: var(--dl-color-secondary-700);
  width: auto;
  align-self: flex-start;
}
.incubation-text01 {
  color: #d27531;
  height: 120px;
  font-size: 5em;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Courier New;
  font-weight: 800;
}
.incubation-text03 {
  color: #3175d2;
}
.incubation-text05 {
  color: #000000;
  width: 90%;
  font-size: 1.5rem;
  align-self: center;
  text-align: center;
}
.incubation-link {
  width: 30%;
  font-size: 1.25rem;
  align-self: center;
  margin-top: var(--dl-space-space-unitandahalfunit);
  text-align: center;
  border-color: var(--dl-color-primary-1);
  border-radius: var(--dl-radius-radius-radius40);
  text-decoration: none;
}
.incubation-text06 {
  color: var(--dl-color-primary-1);
}
.incubation-container3 {
  display: flex;
  margin-top: var(--dl-space-space-unitandahalfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.incubation-container4 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
}
.incubation-text09 {
  font-size: 3rem;
  margin-top: var(--dl-space-space-unit);
  font-family: Open Sans;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(270deg, rgb(192, 36, 37) 0.00%,rgb(36, 63, 192) 1.00%,rgb(240, 153, 53) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.incubation-text10 {
  color: rgb(203, 12, 159);
  white-space: normal;
  text-decoration: none;
}
.incubation-container5 {
  width: 100%;
  height: 1682px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.incubation-image {
  width: 1127px;
  height: 1613px;
  margin: var(--dl-space-space-tripleunit);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius40);
}
.incubation-text11 {
  font-size: 3rem;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Open Sans;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(270deg, rgb(192, 36, 37) 0.00%,rgb(36, 63, 192) 1.00%,rgb(240, 153, 53) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.incubation-text12 {
  color: rgb(203, 12, 159);
  white-space: normal;
  text-decoration: none;
}
.incubation-container6 {
  width: 100%;
  height: 1682px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.incubation-image1 {
  width: 1127px;
  height: 1613px;
  margin: var(--dl-space-space-tripleunit);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius40);
}
@media(max-width: 991px) {
  .incubation-card {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .incubation-card {
    align-items: center;
  }
}
@media(max-width: 479px) {
  .incubation-card {
    padding: var(--dl-space-space-unit);
  }
  .incubation-container3 {
    align-items: center;
    flex-direction: column;
  }
  .incubation-container4 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
